@CHARSET "UTF-8";
#login {
	width: 500px;
	margin: 30px auto;
}
table {
	font-family : NanumGothic;
	font-weight : bold;
	border-collapse : collapse;
	border: 1px solid black;
	width: 500px;
	height: 80px;

}
td {
	border-top: 1px solid #222;
	border-left: 1px solid #222;

}
h5 {
	font-family : NanumGothic;
	color: red;
}
.alignCenter {
	text-align: center;
}
.button {
	font-family : NanumGothic;
	font-size:medium;
	font-weight:bold;
	width: 120px;
	height: 40px;
	float: right;
}
.inputText {
	width: 300px;
}