@CHARSET "UTF-8";
table {
	font-family : NanumGothic;
	border-collapse : collapse;
	border: 1px solid black;
	width: 550px;
	height: 80px;

}
thead {
	background-color: EBEBEB;
}
td {
	border: 1px solid black;
}

h3, h2 {
	font-family : NanumGothic;
}

.textRight {
	float:right;
}

.alignCenter {
	text-align: center;
}

.alignRight {
	text-align: right;
}

.button {
	font-family : NanumGothic;
	font-size:medium;
	font-weight:bold;
	width: 120px;
	height: 40px;
	float: right;
	margin-left: 10px; 
}
#order {
	width: 550px;
	margin: 30px auto;
	
}
#inputText {
	width: 100%;
}